* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}
html {
  font-size: 62.5%;
}

body,
html {
  width: 100vw;
  font-family: "Assistant", sans-serif;
  background-color: #fff;
  font-weight: 400;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  transition: all 200ms ease-in-out;
  &:hover,
  &:active {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
